<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="E:/JavaProject/RestAssured-Employee">
        <classes>
            <class name="Tests.CreateEmployee">
                <methods>
                    <include name="addEmployee"/>
                    <include name="addEmployee_builder"/>
                    <include name="createEmployeeBirthDateNull"/>
                    <include name="createEmployeeEmploymentDateNull"/>
                    <include name="createEmployeeWorkFormatIdNull_BUG"/>
                    <include name="createEmployeeAddressNull"/>
                    <include name="createEmployeeAddress1001Symbols"/>
                    <include name="createEmployeeAddress1000Symbols"/>
                </methods>
            </class>
            <class name="Tests.GET.GetEmployee">
                <methods>
                    <include name="getAllEmployeeSuccessAdmin"/>
                    <include name="getAllEmployeeUser"/>
                    <include name="getEmployeeCheckJsonSchema"/>
                    <include name="getAllEmployeeSizeTest"/>
                    <include name="getAllEmployeeSize0"/>
                    <include name="getAllEmployeeSize1"/>
                    <include name="getAllEmployeeSize500"/>
                    <include name="getAllEmployeeSize501"/>
                    <include name="getAllEmployeePageTest"/>
                </methods>
            </class>
            <class name="Tests.GET.GetEmployeeOnId_Tests">
                <methods>
                    <include name="getEmployeeOnID_Exist"/>
                    <include name="getEmployeeOnID_notExist"/>
                    <include name="getEmployeeOnID_0"/>
                    <include name="getEmployeeOnID_String"/>
                </methods>
            </class>
            <class name="Tests.GET.GetMainDepartmentId_Tests">
                <methods>
                    <include name="getEmployeeListOnMainDepartmentId"/>
                    <include name="getEmployeeListOnMainDepartmentId_0"/>
                    <include name="getEmployeeListOnMainDepartmentId_String"/>
                </methods>
            </class>
            <class name="Tests.POST.CreateEmployeeNameTests">
                <methods>
                    <include name="createEmployeeNameNull"/>
                    <include name="createEmployeeNameBlank"/>
                    <include name="createEmployeeSurnameNull"/>
                    <include name="createEmployeeMiddleNameNull"/>
                </methods>
            </class>
            <class name="Tests.GET.GetEmployeeStatus_Tests">
                <methods>
                    <include name="getAllEmployeeStatusTypes"/>
                    <include name="getEmployeeOnID_Exist"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>